:host {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 1200px;;
    background-color:Navy;
  }
  nav .icon {
    width: 60px;
    height: 60px;
    margin-left: 3%

     }
  nav .icon1 {
    width: 60px;
    height: 60px;
    margin: 5px;
    padding-left: 92%
  }
  nav .icon2 {
    width: 90px;
    height: 80px;
    margin: 5px;
    margin-top:2%
    
  }
  a {
    text-decoration: none; 
    color: white;
  font-weight: bold;
  text-align: center;
  
    }
  section {
    width: 100%;
    background-color: #32435b;
  }
  section > nav {
    flex-direction: row;
    width: 100%;
    height: 6%;
  }
  section > header {
    color: #ffffff;
    padding: 10px;
  }
  section > header > h1 {
    font-size: 2em;
  }
  section > header .description {
    font-style: italic;
  }
  .text{
    position: absolute;
    color: white;
    right: 84%;
    top: 8%;
    font-weight: bold;
    align-content: center;
    }
    .text1{
      position: absolute;
      color: white;
      right:88%;
      top: 38.5%;
      font-weight: bold;
      align-content: center;
    }
    .text2{
      position: absolute;
      color: white;
      right:89%;
      top: 51%;
      font-weight: bold;
      align-content: center;
    }
    .text3{
      position: absolute;
      color: white;
      right:87.5%;
      top: 63.5%;
      font-weight: bold;
      align-content: center;
    }
    .text4{
      position: absolute;
      color: white;
      right:87.3%;
      top: 76%;
      font-weight: bold;
      align-content: center;
    }
    a {display: block;color: white;text-align:left;}
    a:hover {background-color:rgb(141, 175, 248);}

    .look{
      
    position: absolute;
    right: 81%;
    top: 23.5%;
    font-weight: bold;
    align-content: center;
    }
    
   